{% assign theme_control_id = include.id_prefix | default: 'theme' %}
{% assign theme_control_class = include.class | default: '' %}

<div class="theme-mode-control {{ theme_control_class }}" data-theme-control>
  <button
    id="{{ theme_control_id }}-toggle"
    class="theme-toggle"
    type="button"
    title="Change theme"
    aria-label="Change theme"
    aria-haspopup="listbox"
    aria-expanded="false"
    aria-controls="{{ theme_control_id }}-menu"
    data-theme-toggle
  >
    <span class="theme-toggle-icon" data-theme-icon aria-hidden="true">
      <i class="fa-solid fa-cloud-sun"></i>
    </span>
    <span class="sr-only" data-theme-label>Morning theme</span>
  </button>
  <div class="theme-menu" id="{{ theme_control_id }}-menu" role="listbox" aria-label="Theme mode" data-theme-menu hidden>
    <button class="theme-option" type="button" role="option" data-theme-mode-option="morning" aria-selected="false">
      <i class="fa-solid fa-cloud-sun" aria-hidden="true"></i>
      <span>Morning</span>
    </button>
    <button class="theme-option" type="button" role="option" data-theme-mode-option="noon" aria-selected="false">
      <i class="fa-solid fa-sun" aria-hidden="true"></i>
      <span>Noon</span>
    </button>
    <button class="theme-option" type="button" role="option" data-theme-mode-option="afternoon" aria-selected="false">
      <i class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i>
      <span>Afternoon</span>
    </button>
    <button class="theme-option" type="button" role="option" data-theme-mode-option="evening" aria-selected="false">
      <i class="fa-solid fa-moon" aria-hidden="true"></i>
      <span>Evening</span>
    </button>
  </div>
</div>
